{% extends 'dropzone/base.html' %}

{% block content %}
    <h6>UPLOAD MULTIPLE IMAGES NOW</h6>
    <br>
    <form action="/target" class="dropzone" id="my-great-dropzone">
        {% csrf_token %}
    </form>

    <script>
        const dropzoneConfig = JSON.parse('{{ dropzone_config|safe }}');
        Dropzone.options.myGreatDropzone = {
            url: dropzoneConfig.url,
            method: dropzoneConfig.method,
            chunking: dropzoneConfig.chunking,
            forceChunking: dropzoneConfig.forceChunking,
            chunkSize: dropzoneConfig.chunkSize,
            retryChunks: dropzoneConfig.retryChunks,
            retryChunksLimit: dropzoneConfig.retryChunksLimit,
            maxFilesize: dropzoneConfig.maxFilesize,
            paramName: dropzoneConfig.paramName,
            maxFiles: dropzoneConfig.maxFiles,
            acceptedFiles: dropzoneConfig.acceptedFiles,
            chunksUploaded: function (file, done) {
                // Send HTTP POST request to upstream to merge chunks.
                $.ajax(
                    {
                        url: dropzoneConfig.mergeURL,
                        type: 'POST',
                        data: {
                            dzuuid: file.upload.uuid,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (data) {
                            done();
                        }
                    }
                );
                done();
            },
        };
    </script>
{% endblock %}
